<h1>
Payment Results
</h1>

<p>APR</p>
<div><%= @apr.to_fs(:percentage, {:precision => 4}) %></div>

<p>Number of years</p>
<div><%= @num_years %></div>

<p>Principal</p>
<div><%= @principal.to_fs(:currency) %></div>

<p>Payment</p>
<div><%= @monthly_payment.to_fs(:currency) %></div>

<p></p>
<div><a href="/payment/new">Calculate another payment</a></div>
