<h1>
Random Results
</h1>

<p>Minimum</p>
<div><%= @min_num %></div>

<p>Maximum</p>
<div><%= @max_num %></div>

<p>Random Number</p>
<div><%= @random_num %></div>

<p></p>
<div><a href="/random/new">Pick another random number</a></div>
